global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # Default ciphers to use on SSL-enabled listening sockets.
        # For more information, see ciphers(1SSL). This list is from:
        #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
        ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS
        ssl-default-bind-options no-sslv3

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

defaults MYSQL
        mode tcp
        timeout connect 10800s
        timeout client  10800s
        timeout server  10800s

listen stats
    mode http
    bind {{ hostvars[inventory_hostname]['inventory_hostname'] }}:7000
    stats enable
    stats uri /

listen orchestrator
  bind  0.0.0.0:3001
  mode tcp
  option httpchk GET /api/leader-check
  maxconn 10000
  balance first
  retries 1
  timeout connect 1000
  timeout check 300
  timeout server 30s
  timeout client 30s

  default-server port 3000 fall 1 inter 1000 rise 1 downinter 1000 on-marked-down shutdown-sessions weight 10

  {% for host in groups['orchestrator'] %}
  server {{ hostvars[host]['ansible_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:3000 check
  {% endfor %}

frontend ft_mysql_master
        bind *:{{ frontend_mysql_master_port }} name mysql
        default_backend bk_mysql_master

backend bk_mysql_master
        balance leastconn
        option tcp-check
        tcp-check expect string MySQL\ master\ is\ running.
        option allbackups
        default-server port {{ mysqlchk_port }} inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 64 maxqueue 128 weight 100
        {% for host in groups['mysql'] -%}
        {%- if hostvars[host]['mysql_role'] == 'master' -%}
        server {{ host }} {{ hostvars[host].ansible_host }}:{{ mysql_port }} check backup
        {% else -%}
        server {{ host }} {{ hostvars[host].ansible_host }}:{{ mysql_port }} check
        {% endif -%}
        {% endfor %}

frontend ft_mysql_slave
        bind *:{{ frontend_mysql_slave_port }} name mysql
        default_backend bk_mysql_slave

backend bk_mysql_slave
        balance leastconn
        option tcp-check
        tcp-check expect string MySQL\ slave\ is\ running.
        option allbackups
        default-server port {{ mysqlchk_port }} inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 64 maxqueue 128 weight 100
        {% for host in groups['mysql'] -%}
        server {{ host }} {{ hostvars[host].ansible_host }}:{{ mysql_port }} check
        {% endfor %}
